In [30]:
import pandas as pd
import numpy as np

In [31]:
pp = pd.read_csv('~/Documents/GitHub/dsc160-code/dsc160-midterm-404-not-found/data/picasso.csv')
hm = pd.read_csv('~/Documents/GitHub/dsc160-code/dsc160-midterm-404-not-found/data/henri_dic.csv')
pp

,Unnamed: 0,0
0,images-works-57_s.jpg,"('Self-Portrait', 1907)"
1,images-works-2_s.jpg,"('Absinthe Drinker', 1901)"
2,images-works-117_s.jpg,"('Portrait of Igor Stravinsky', 1920)"
3,images-works-3437_s.jpg,"('Maternity', 1905)"
4,images-works-56_s.jpg,"(""Les Demoiselles d'Avignon (The Young Ladies ..."
...,...,...
223,images-works-3377_s.jpg,"('Harlequin Family', 1905)"
224,images-works-1702_s.jpg,"('Woman with Hat (Dora Maar)', 1938)"
225,images-works-2230_s.jpg,"('Reclining Nude with the necklace', 1932)"
226,images-works-2628_s.jpg,"('Mandolin and musical scope', 1923)"
227,images-works-1845_s.jpg,"('Still life with fishing net', 1925)"

In [36]:
pp = pp.rename(columns={'Unnamed: 0': 'Picturesource', '0': 'Painting'})
pp = pp.assign(Year=pp['Painting'])
pp['Year'] = pp.apply(lambda row: row.Painting[-5:-1], axis = 1)
pp['Painting'] = pp.apply(lambda row: row.Painting.lower(), axis = 1)
pp

,Picturesource,Painting,Year
0,images-works-57_s.jpg,"('self-portrait', 1907)",1907
1,images-works-2_s.jpg,"('absinthe drinker', 1901)",1901
2,images-works-117_s.jpg,"('portrait of igor stravinsky', 1920)",1920
3,images-works-3437_s.jpg,"('maternity', 1905)",1905
4,images-works-56_s.jpg,"(""les demoiselles d'avignon (the young ladies ...",1907
...,...,...,...
223,images-works-3377_s.jpg,"('harlequin family', 1905)",1905
224,images-works-1702_s.jpg,"('woman with hat (dora maar)', 1938)",1938
225,images-works-2230_s.jpg,"('reclining nude with the necklace', 1932)",1932
226,images-works-2628_s.jpg,"('mandolin and musical scope', 1923)",1923
227,images-works-1845_s.jpg,"('still life with fishing net', 1925)",1925

In [42]:
maternity_keywords = ['maternity','olga','mother','motherhood','maya','graces','child']
mistress_keywords = ['ladies','woman','lover','bather','fernande','marie','dora','dream','muse','female','flower']

In [43]:
name = 'woman with hat (dora maar)'
'olga' in name

False

In [61]:
# 0 for maternity and 1 for mistress
def pp_mat_or_mis(row):
    for i in maternity_keywords:
        if i in row['Painting']:
            return 0
    for j in mistress_keywords:
        if j in row['Painting']:
            return 1

In [93]:
pp['Portrait'] = pp.apply(pp_mat_or_mis, axis=1)
pp_women = pp.loc[pp['Portrait'].notnull()]
pp_women
# pp_women.to_csv(index=False)

pp_women.to_csv (r'~/Documents/GitHub/dsc160-code/dsc160-midterm-404-not-found/data/picasso_women.csv', index = False, header=True)

In [86]:
hm = hm.rename(columns={'Unnamed: 0': 'Picturesource', '0': 'Painting'})
hm = hm.assign(Year=hm['Painting'])
hm['Year'] = hm.apply(lambda row: row.Painting[-5:-1], axis = 1)
hm['Painting'] = hm.apply(lambda row: row.Painting.lower(), axis = 1)
hm

mat_keywords = ['blue nude','madame','matisse','marguerite','conversation']
mis_keywords = ['odalisque','girl','nude','lorette','carmelina','dark hair','woman','sisters','laurette','figure','interior','helen','model']

In [87]:
def hm_mat_or_mis(row):
    for i in mat_keywords:
        if i in row['Painting']:
            return 0
    for j in mis_keywords:
        if j in row['Painting']:
            return 1

In [89]:
hm['Portrait'] = hm.apply(hm_mat_or_mis, axis=1)
hm_women = hm.loc[hm['Portrait'].notnull()]
hm_women

,Picturesource,Painting,Year,Portrait
0,paintings-thmbnls150-bb.jpg,"('standing model', 1901)",1901,1.0
2,paintings-thmbnls150-ba.jpg,"('male model', 1900)",1900,1.0
5,paintings-thmbnls150-bd.jpg,"('nude with a white wash towel', 1903)",1903,1.0
6,paintings-thmbnls150-bc.jpg,"('carmelina', 1903)",1903,1.0
8,paintings-thmbnls150-cs.jpg,('the green line (portrait of madame matisse)'...,1905,0.0
...,...,...,...,...
145,paintings-thmbnls150-gc.jpg,"('two girls', 1941)",1941,1.0
148,paintings-thmbnls150-gd.jpg,"('woman with a veil', 1942)",1942,1.0
149,paintings-thmbnls150-gn.jpg,"('woman on a dark background', 1942)",1942,1.0
151,paintings-thmbnls150-fz.jpg,"('young girl in rose', 1942)",1942,1.0
153,paintings-thmbnls150-dh.jpg,"('sunlit interior', 1942)",1942,1.0

In [94]:
hm_women.to_csv (r'~/Documents/GitHub/dsc160-code/dsc160-midterm-404-not-found/data/matisse_women.csv', index = False, header=True)